<a href="https://colab.research.google.com/github/CarlTeapot/Walmart-Recruiting/blob/main/model_inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install mlflow==2.2.2

Collecting mlflow==2.2.2
  Downloading mlflow-2.2.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (8.2.1)
Collecting cloudpickle<3 (from mlflow==2.2.2)
  Downloading cloudpickle-2.2.1-py3-none-any.whl.metadata (6.9 kB)
Collecting databricks-cli<1,>=0.8.7 (from mlflow==2.2.2)
  Downloading databricks_cli-0.18.0-py2.py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (0.4)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (3.1.45)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (6.0.2)
Collecting protobuf<5,>=3.12.0 (from mlflow==2.2.2)
  Downloading protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl.metadata (541 bytes)
Collecting pytz<2023 (from mlflow==2.2.2)
  Downloading pytz-2022.7.1-py2.py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (2.32.3)
Collecting packaging<24 (from mlflow==2.2.2)
  Downloading packaging-23.2-py3-none-any.whl.metadata (3.2 kB)
Collecting importlib-metadata!=4.7.0,<7,>=3.7.0 (from mlflow==2.2.2)
  Downloading importlib_metadata-6.11.0-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (0.5.3)
Collecting alembic<2 (from mlflow==2.2.2)
  Downloading alembic-1.16.4-py3-none-any.whl.metadata (7.3 kB)
Collecting docker<7,>=4.0.0 (from mlflow==2.2.2)
  Downloading docker-6.1.3-py3-none-any.whl.metadata (3.5 kB)
Collecting Flask<3 (from mlflow==2.2.2)
  Downloading flask-2.3.3-py3-none-any.whl.metadata (3.6 kB)
Collecting numpy<2 (from mlflow==2.2.2)
  Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (1.16.1)
Requirement already satisfied: pandas<3 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (2.2.2)
Collecting querystring-parser<2 (from mlflow==2.2.2)
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl.metadata (559 bytes)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (2.0.42)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (1.6.1)
Collecting pyarrow<12,>=4.0.0 (from mlflow==2.2.2)
  Downloading pyarrow-11.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: shap<1,>=0.40 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (0.48.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (3.8.2)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (3.10.0)
Collecting gunicorn<21 (from mlflow==2.2.2)
  Downloading gunicorn-20.1.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.11/dist-packages (from mlflow==2.2.2) (3.1.6)
Requirement already satisfied: Mako in /usr/lib/python3/dist-packages (from alembic<2->mlflow==2.2.2) (1.1.3)
Requirement already satisfied: typing-extensions>=4.12 in /usr/local/lib/python3.11/dist-packages (from alembic<2->mlflow==2.2.2) (4.14.1)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from databricks-cli<1,>=0.8.7->mlflow==2.2.2) (2.10.1)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from databricks-cli<1,>=0.8.7->mlflow==2.2.2) (3.3.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.11/dist-packages (from databricks-cli<1,>=0.8.7->mlflow==2.2.2) (0.9.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.11/dist-packages (from databricks-cli<1,>=0.8.7->mlflow==2.2.2) (1.17.0)
Requirement already satisfied: urllib3<3,>=1.26.7 in /usr/local/lib/python3.11/dist-packages (from databricks-cli<1,>=0.8.7->mlflow==2.2.2) (2.5.0)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.11/dist-packages (from docker<7,>=4.0.0->mlflow==2.2.2) (1.8.0)
Requirement already satisfied: Werkzeug>=2.3.7 in /usr/local/lib/python3.11/dist-packages (from Flask<3->mlflow==2.2.2) (3.1.3)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3->mlflow==2.2.2) (2.2.0)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.11/dist-packages (from Flask<3->mlflow==2.2.2) (1.9.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython<4,>=2.1.0->mlflow==2.2.2) (4.0.12)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.11/dist-packages (from gunicorn<21->mlflow==2.2.2) (75.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata!=4.7.0,<7,>=3.7.0->mlflow==2.2.2) (3.23.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from Jinja2<4,>=2.11->mlflow==2.2.2) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (1.4.8)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib<4->mlflow==2.2.2) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3->mlflow==2.2.2) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.17.3->mlflow==2.2.2) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.17.3->mlflow==2.2.2) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.17.3->mlflow==2.2.2) (2025.7.14)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<2->mlflow==2.2.2) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<2->mlflow==2.2.2) (3.6.0)
Requirement already satisfied: tqdm>=4.27.0 in /usr/local/lib/python3.11/dist-packages (from shap<1,>=0.40->mlflow==2.2.2) (4.67.1)
Requirement already satisfied: slicer==0.0.8 in /usr/local/lib/python3.11/dist-packages (from shap<1,>=0.40->mlflow==2.2.2) (0.0.8)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.11/dist-packages (from shap<1,>=0.40->mlflow==2.2.2) (0.60.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy<3,>=1.4.0->mlflow==2.2.2) (3.2.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow==2.2.2) (5.0.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.11/dist-packages (from numba>=0.54->shap<1,>=0.40->mlflow==2.2.2) (0.43.0)
Downloading mlflow-2.2.2-py3-none-any.whl (17.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.6/17.6 MB 97.7 MB/s eta 0:00:00
Downloading alembic-1.16.4-py3-none-any.whl (247 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 14.6 MB/s eta 0:00:00
Downloading cloudpickle-2.2.1-py3-none-any.whl (25 kB)
Downloading databricks_cli-0.18.0-py2.py3-none-any.whl (150 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.3/150.3 kB 9.4 MB/s eta 0:00:00
Downloading docker-6.1.3-py3-none-any.whl (148 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 148.1/148.1 kB 8.6 MB/s eta 0:00:00
Downloading flask-2.3.3-py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.1/96.1 kB 5.9 MB/s eta 0:00:00
Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 4.0 MB/s eta 0:00:00
Downloading importlib_metadata-6.11.0-py3-none-any.whl (23 kB)
Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 106.4 MB/s eta 0:00:00
Downloading packaging-23.2-py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 3.2 MB/s eta 0:00:00
Downloading protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 16.7 MB/s eta 0:00:00
Downloading pyarrow-11.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.9/34.9 MB 26.2 MB/s eta 0:00:00
Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 24.8 MB/s eta 0:00:00
Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Installing collected packages: pytz, querystring-parser, protobuf, packaging, numpy, importlib-metadata, gunicorn, cloudpickle, pyarrow, Flask, docker, databricks-cli, alembic, mlflow
  Attempting uninstall: pytz
    Found existing installation: pytz 2025.2
    Uninstalling pytz-2025.2:
      Successfully uninstalled pytz-2025.2
  Attempting uninstall: protobuf
    Found existing installation: protobuf 5.29.5
    Uninstalling protobuf-5.29.5:
      Successfully uninstalled protobuf-5.29.5
  Attempting uninstall: packaging
    Found existing installation: packaging 25.0
    Uninstalling packaging-25.0:
      Successfully uninstalled packaging-25.0
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib_metadata 8.7.0
    Uninstalling importlib_metadata-8.7.0:
      Successfully uninstalled importlib_metadata-8.7.0
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 3.1.1
    Uninstalling cloudpickle-3.1.1:
      Successfully uninstalled cloudpickle-3.1.1
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 18.1.0
    Uninstalling pyarrow-18.1.0:
      Successfully uninstalled pyarrow-18.1.0
  Attempting uninstall: Flask
    Found existing installation: Flask 3.1.1
    Uninstalling Flask-3.1.1:
      Successfully uninstalled Flask-3.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 2025.7.1 requires packaging>=24.1, but you have packaging 23.2 which is incompatible.
thinc 8.3.6 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.26.4 which is incompatible.
dask 2025.5.0 requires cloudpickle>=3.0.0, but you have cloudpickle 2.2.1 which is incompatible.
opencv-python-headless 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
datasets 4.0.0 requires pyarrow>=15.0.0, but you have pyarrow 11.0.0 which is incompatible.
grpcio-status 1.71.2 requires protobuf<6.0dev,>=5.26.1, but you have protobuf 4.25.8 which is incompatible.
db-dtypes 1.4.3 requires packaging>=24.2.0, but you have packaging 23.2 which is incompatible.
db-dtypes 1.4.3 requires pyarrow>=13.0.0, but you have pyarrow 11.0.0 which is incompatible.
distributed 2025.5.0 requires cloudpickle>=3.0.0, but you have cloudpickle 2.2.1 which is incompatible.
pylibcudf-cu12 25.6.0 requires pyarrow<20.0.0a0,>=14.0.0; platform_machine == "x86_64", but you have pyarrow 11.0.0 which is incompatible.
opencv-contrib-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
bigframes 2.12.0 requires pyarrow>=15.0.2, but you have pyarrow 11.0.0 which is incompatible.
google-cloud-bigquery 3.35.1 requires packaging>=24.2.0, but you have packaging 23.2 which is incompatible.
ydf 0.13.0 requires protobuf<7.0.0,>=5.29.1, but you have protobuf 4.25.8 which is incompatible.
cudf-cu12 25.6.0 requires pyarrow<20.0.0a0,>=14.0.0; platform_machine == "x86_64", but you have pyarrow 11.0.0 which is incompatible.
opencv-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
Successfully installed Flask-2.3.3 alembic-1.16.4 cloudpickle-2.2.1 databricks-cli-0.18.0 docker-6.1.3 gunicorn-20.1.0 importlib-metadata-6.11.0 mlflow-2.2.2 numpy-1.26.4 packaging-23.2 protobuf-4.25.8 pyarrow-11.0.0 pytz-2022.7.1 querystring-parser-1.2.4

In [37]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive',  force_remount=True)

Mounted at /content/drive

In [38]:
data = pd.read_csv('/content/drive/MyDrive/ML PROEQTI/clean_test_data.csv')
data

,Store,Dept,Date,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,MarkDown4,MarkDown5,CPI,Unemployment,Season,Month,Year,Week,Holiday_in_1_week_lag,Weeks_until_next_holiday
0,1,1,2012-11-02,0,A,151315,55.32,3.386,6766.44,5147.70,...,3639.90,2737.42,223.462779,6.573,Fall,11,2012,44,0.0,3
1,1,1,2012-11-09,0,A,151315,61.24,3.314,11421.32,3370.89,...,4646.79,6154.16,223.481307,6.573,Fall,11,2012,45,0.0,2
2,1,1,2012-11-16,0,A,151315,52.92,3.252,9696.28,292.10,...,1133.15,6612.69,223.512911,6.573,Fall,11,2012,46,1.0,1
3,1,1,2012-11-23,1,A,151315,56.23,3.211,883.59,4.17,...,209.91,303.32,223.561947,6.573,Fall,11,2012,47,0.0,5
4,1,1,2012-11-30,0,A,151315,52.34,3.207,2460.03,NaN,...,150.57,6966.34,223.610984,6.573,Fall,11,2012,48,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,98,2013-06-28,0,B,118221,76.05,3.639,4842.29,975.03,...,2449.97,3169.69,NaN,NaN,Summer,6,2013,26,0.0,0
115060,45,98,2013-07-05,0,B,118221,77.50,3.614,9090.48,2268.58,...,5797.47,1514.93,NaN,NaN,Summer,7,2013,27,0.0,0
115061,45,98,2013-07-12,0,B,118221,79.37,3.614,3789.94,1827.31,...,744.84,2150.36,NaN,NaN,Summer,7,2013,28,0.0,0
115062,45,98,2013-07-19,0,B,118221,82.84,3.737,2961.49,1047.07,...,363.00,1059.46,NaN,NaN,Summer,7,2013,29,0.0,0
115063,45,98,2013-07-26,0,B,118221,76.06,3.804,212.02,851.73,...,10.88,1864.57,NaN,NaN,Summer,7,2013,30,0.0,0

In [39]:
import mlflow

username = "CarlTeapot"
token = "f860387b4219ef908dd0cdadc7d7cfe7737000a8"
repo = "Walmart-Recruiting"

mlflow.set_tracking_uri(f"https://{username}:{token}@dagshub.com/{username}/{repo}.mlflow")


logged_model = 'runs:/2aca026136184afaad7de9f7fc474399/best_model'


loaded_model = mlflow.pyfunc.load_model(logged_model)
print("Model loaded successfully!")

WARNING:urllib3.connectionpool:Retrying (Retry(total=4, connect=5, read=4, redirect=5, status=5)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /CarlTeapot/Walmart-Recruiting.mlflow/api/2.0/mlflow/runs/get?run_uuid=2aca026136184afaad7de9f7fc474399&run_id=2aca026136184afaad7de9f7fc474399
WARNING:urllib3.connectionpool:Retrying (Retry(total=4, connect=5, read=4, redirect=5, status=5)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /CarlTeapot/Walmart-Recruiting.mlflow/api/2.0/mlflow-artifacts/artifacts/acdfa4a4f2fd4afa96012102111b4160/2aca026136184afaad7de9f7fc474399/artifacts/best_model/conda.yaml
WARNING:urllib3.connectionpool:Retrying (Retry(total=4, connect=5, read=4, redirect=5, status=5)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /CarlTeapot/Walmart-Recruiting.mlflow/api/2.0/mlflow-artifacts/artifacts/acdfa4a4f2fd4afa96012102111b4160/2aca026136184afaad7de9f7fc474399/artifacts/best_model/python_env.yaml
WARNING:urllib3.connectionpool:Retrying (Retry(total=3, connect=5, read=3, redirect=5, status=5)) after connection broken by 'RemoteDisconnected('Remote end closed connection without response')': /CarlTeapot/Walmart-Recruiting.mlflow/api/2.0/mlflow-artifacts/artifacts/acdfa4a4f2fd4afa96012102111b4160/2aca026136184afaad7de9f7fc474399/artifacts/best_model/python_env.yaml

Model loaded successfully!

In [32]:
data

,Month,Year,Store,Dept,Date,IsHoliday,Size,Temperature,Fuel_Price,MarkDown1,...,Week,Holiday_in_1_week_lag,Weeks_until_next_holiday,Type_A,Type_B,Type_C,Season_Fall,Season_Spring,Season_Summer,Season_Winter
0,11,2012,1,1,2012-11-02,0,151315,55.32,3.386,6766.44,...,44,0.0,3,True,False,False,True,False,False,False
1,11,2012,1,1,2012-11-09,0,151315,61.24,3.314,11421.32,...,45,0.0,2,True,False,False,True,False,False,False
2,11,2012,1,1,2012-11-16,0,151315,52.92,3.252,9696.28,...,46,1.0,1,True,False,False,True,False,False,False
3,11,2012,1,1,2012-11-23,1,151315,56.23,3.211,883.59,...,47,0.0,5,True,False,False,True,False,False,False
4,11,2012,1,1,2012-11-30,0,151315,52.34,3.207,2460.03,...,48,0.0,4,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,6,2013,45,98,2013-06-28,0,118221,76.05,3.639,4842.29,...,26,0.0,0,False,True,False,False,False,True,False
115060,7,2013,45,98,2013-07-05,0,118221,77.50,3.614,9090.48,...,27,0.0,0,False,True,False,False,False,True,False
115061,7,2013,45,98,2013-07-12,0,118221,79.37,3.614,3789.94,...,28,0.0,0,False,True,False,False,False,True,False
115062,7,2013,45,98,2013-07-19,0,118221,82.84,3.737,2961.49,...,29,0.0,0,False,True,False,False,False,True,False
115063,7,2013,45,98,2013-07-26,0,118221,76.06,3.804,212.02,...,30,0.0,0,False,True,False,False,False,True,False

In [40]:
# One-hot encode the 'Type' and 'Season' columns
data['Type'] = data['Type'].astype('category')
data['Season'] = data['Season'].astype('category')
predictions = loaded_model.predict(data)

# 2. Create the 'Id' column by concatenating Store, Dept, and Date (as string)
test_data = data.copy()  # avoid inplace changes

test_data['Id'] = (
    test_data['Store'].astype(str) + '_' +
    test_data['Dept'].astype(str) + '_' +
    test_data['Date'].astype(str)
)

# 3. Create submission DataFrame
submission = pd.DataFrame({
    'Id': test_data['Id'],
    'Weekly_Sales': predictions
})

# Optional: Save to CSV for Kaggle submission
submission.to_csv('submission.csv', index=False)

print(submission.head())

/usr/local/lib/python3.11/dist-packages/sklearn/pipeline.py:62: FutureWarning: This Pipeline instance is not fitted yet. Call 'fit' with appropriate arguments before using other methods such as transform, predict, etc. This will raise an error in 1.8 instead of the current warning.
  warnings.warn(

               Id  Weekly_Sales
0  1_1_2012-11-02  32564.031250
1  1_1_2012-11-09  16967.982422
2  1_1_2012-11-16  16872.871094
3  1_1_2012-11-23  15313.852539
4  1_1_2012-11-30  20849.445312